/* NAVIGATION */

@media (max-width: 1024px) {
	.nav {
		padding: 2rem 4rem;
	}
	.nav__link,
	.nav__cta {
		font-size: 1.4rem;
	}
}

@media (max-width: 768px) {
	.mobile-nav {
		display: block;
	}

	.nav__link-box {
		background-color: #ffffff;
		font-size: 2rem;
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100vh;
		/* transition: all 0.5s ease-out; */

		/* Hide navigation */
		/* display: none; It allows no transition*/

		/* 1) Hide it visually */
		opacity: 0;
		/* 2) Make it unaccessible to mouse and keyboard */
		pointer-events: none;
		/* 3) Hide it from screen readers */
		visibility: hidden;
	}

	.nav-open .nav__link-box {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
	}

	.nav-open .icon-mobile-nav[name="close-outline"] {
		display: block;
	}

	.nav-open .icon-mobile-nav[name="menu-outline"] {
		display: none;
	}

	.nav__link-container {
		flex-direction: column;
		gap: 4rem;
		margin-top: 10rem;
		margin-left: 5rem;
	}
}

@media (max-width: 640px) {
	.nav {
		padding: 1rem 2rem;
	}
}

@media (max-width: 587px) {
	.nav__cta {
		display: none;
	}
}

/* HERO SECTION */

@media (max-width: 1296px) {
	.header {
		padding: 0 3rem 4rem 3rem;
	}

	.section-hero-heading {
		font-size: 3.2rem;
	}
}

@media (max-width: 933px) {
	.section-hero {
		display: block;
		text-align: center;
		margin-top: 3rem;
	}

	.section-hero-text {
		margin-bottom: 4rem;
	}

	.section-hero-para {
		margin-bottom: 1.2rem;
	}

	.section-hero-heading {
		font-size: 3.5rem;
		margin-bottom: 3rem;
	}

	.hero-img {
		width: 70%;
	}
}

@media (max-width: 681px) {
	.section-hero {
		margin-top: 4rem;
	}

	.section-hero-heading {
		font-size: 2.8rem;
	}

	.cta-btn {
		padding: 1.5rem 6.6rem;
		font-size: 2rem;
	}

	.hero-img {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.section-hero-heading {
		text-align: left;
		margin-bottom: 4rem;
	}

	.section-hero-para {
		font-size: 1.1rem;
		text-align: left;
	}
}

@media (max-width: 453px) {
	.section-hero-heading {
		font-size: 2.1rem;
	}
}

/* ABOUT US SECTION */

@media (max-width: 826px) {
	.container {
		max-width: 100rem;
		text-align: center;
	}

	.about-heading {
		font-size: 4.3rem;
	}

	.content-parent {
		display: block;
	}

	#story {
		max-width: fit-content;
		text-align: left;
	}

	#mission {
		max-width: fit-content;
		text-align: left;
	}

	.abt-img {
		width: 70%;
	}

	.text-heading {
		font-size: 2.4rem;
	}

	.abt-text {
		font-size: 2rem;
	}
}

@media (max-width: 500px) {
	.about-heading {
		font-size: 3.5rem;
	}

	.abt-img {
		width: 90%;
		margin: 0 auto;
	}

	.abt-text {
		font-size: 1.4rem;
	}

	#story {
		max-width: 100%;
	}

	#mission {
		max-width: 100%;
	}
}

/* CTA SECTION */

@media (max-width: 933px) {
	.cta-section {
		text-align: left;
	}

	.el-cta-text {
		margin-left: 0;
	}

	.cta-text {
		font-size: 2rem;
	}

	.cta-text2 {
		font-size: 2rem;
	}

	.cta-form {
		margin-left: 0;
	}
}

@media (max-width: 600px) {
	.cta-heading-tertiary {
		font-size: 2.9rem;
	}

	.cta-text {
		font-size: 1.9rem;
	}

	.cta-text2 {
		font-size: 1.9rem;
	}
}

@media (max-width: 495px) {
	.cta-heading-tertiary {
		font-size: 2.4rem;

		margin-left: 0;
	}

	.cta-text {
		font-size: 1.9rem;
	}

	.cta-text2 {
		font-size: 1.9rem;
	}
}

@media (max-width: 495px) {
	.cta-text {
		font-size: 1.4rem;
	}

	.cta-text2 {
		font-size: 1.4rem;
	}
}

/* SERVICES SECTION */

@media (max-width: 803px) {
	.services-para {
		font-size: 2rem;
	}

	.services_box-wrapper {
		display: block;
	}

	.box-container-one {
		width: fit-content;
	}

	.box-container-two {
		width: fit-content;
	}

	.box-container-three {
		width: fit-content;
	}

	.box-container-four {
		width: fit-content;
	}
}

@media (max-width: 803px) {
	.services-para {
		font-size: 1.7rem;
	}

	iframe {
		width: 80vh;
	}
}

@media (max-width: 485px) {
	.services-para {
		font-size: 2rem;
	}

	.box-container-heading {
		font-size: 2rem;
	}

	.box-container-content {
		font-size: 1.4rem;
	}
}
@media (max-width: 450px) {
	.services-section {
		padding: 8rem 4rem;
	}

	.services_primary_heading {
		text-align: left;
	}

	.services-para {
		text-align: left;
		font-size: 1.4rem;
	}

	.box-container-one {
		width: 70%;
	}

	.box-container-two {
		width: 70%;
	}

	.box-container-three {
		width: 70%;
	}

	.box-container-four {
		width: 70%;
	}
}
